*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1,
h3{
    color:black;
}

h3{
    margin-top:10px;
}

body{
    background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
    height: 100vh;
}

.main-container{
    display:flex;
    flex-direction: column;
    padding:20px;
    margin: 50px;
    justify-content: center;
    align-items: center;
}

.container{
    display:flex;
    flex-direction:column;
    padding:20px;
    width:50%;
    justify-content: center;

}

input{
    margin-top:15px;
    border:none;
    padding:10px;
}

button{
    border:none;
    padding:15px;
    color:white;
    background-color:#00b894;
    width: 55%;
}

.btn-container{
    display: flex;
    justify-content: center;

}