@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
#mySidenav a {
	position: absolute;
	left: -80px;
	transition: 0.3s;
	padding: 15px;
	width: 100px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
	left: 0;
  }
  
  #about {
	top: 20px;
	background-color: #04AA6D;
  }
  
  #gift {
	top: 80px;
	background-color: #2196F3;
  }
  
  #thank {
	top: 140px;
	background-color: #f44336;
  }
  
  #contact {
	top: 200px;
	background-color: #555
  }
body
{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Poppins', sans-serif;
	background: url(https://source.unsplash.com/random?teachers%20day);
	background-size: cover;
	background-repeat: no-repeat;
}
.mobile
{
	position: relative;
	width: 270px;
	height: 480px;
	background: #020c17;
	box-shadow: #020c17 0px 0px 20px;
}
.top
{
	position: absolute;
	top: -50px;
	width: 100%;
	height: 50px;
	background: #efefef;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	box-shadow: #020c17 0px 0px 20px;

}
.top:before
{
	content: '';
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translateY(-50%);
	width: 4px;
	height: 4px;
	background: #ccc;
	border: 2px solid #aaa;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #999;
}
.top:after
{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 40px;
	height: 3px;
	background: #333;
	border: 2px solid #aaa;
	border-radius: 3px;
}
.bottom
{
	position: absolute;
	bottom: -50px;
	width: 100%;
	height: 50px;
	background: #efefef;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	box-shadow: #020c17 0px 0px 20px;

}
.bottom:before
{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 15px;
	height: 15px;
	border: 2px solid #999;
	cursor: pointer;
	border-radius: 6px;
}
.screen
{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
}
.screen img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	transition: 0.5s;
}
.screen.active img
{
	opacity: 1;
}
.screen:before
{
	content: '';
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.1);
	z-index: 1;
	transform: skewX(-5deg);
}
h2
{
	color: #fff;
	font-weight: 200;
	font-size: 3.5em;
	z-index: 1;
	transform: translateY(50px);
	line-height: 0.4em;
	transition: 0.5s;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	opacity: 0;
}
h2 span
{
	font-size: 0.4em;
}
.screen.active h2
{
	transform: translateY(0px);
	opacity: 1;
	transition-delay: 0.5s;
}
.screen ul
{
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: 0;
	display: flex;
	z-index: 1;
	justify-content: space-around;
	width: 100%;
}
.screen ul li
{
	list-style: none;
	color: #fff;
	font-size: 1.5em;
	padding-bottom: 10px;
	cursor: pointer;
	transition: 0.5s;
	opacity: 0;
	transform: translateY(20px);
}
.screen.active ul li
{
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.5s;
}
.screen.active ul li:nth-child(2)
{
	transition-delay: .7s;
}
.screen.active ul li:nth-child(3)
{
	transition-delay: .9s;
}
.screen.active ul li:nth-child(4)
{
	transition-delay: 1.1s;
}
.screen.active ul li .fa
{
	transition: 0.5s;
}
.screen.active ul li:hover .fa
{
	transform: translateY(-10px);
}

